includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    ignoreErrors:
            # Ignore unused trait errors in specific files or patterns
            - '#Trait TheThunderTurner\\FilamentLatex\\Concerns\\CanUseDocument is used zero times and is not analysed#'
    paths:
        - src
        - resources
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        analyse:
            - src/Resources/FilamentLatexResource.php
            - src/Resources/FilamentLatexResource/Pages/CreateFilamentLatex.php
            - src/Resources/FilamentLatexResource/Pages/EditFilamentLatex.php
            - src/Resources/FilamentLatexResource/Pages/ViewFilamentLatex.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false

